@font-face {
    font-family: 'Canela';
    src: url('assets/fonts/Canela-Bold.ttf');
  }

  @font-face {
    font-family: 'mini-wakuwaku-regular';
    src: url('assets/fonts/mini-wakuwaku.otf');
  }

  @font-face {
    font-family: 'Consolas';
    src: url('assets/fonts/Consolas.ttf');
  }

  @font-face {
    font-family: 'Quicksand';
    font-weight: 600;
    src: url('assets/fonts/Quicksand-SemiBold.ttf');
  }

  @font-face {
    font-family: 'Quicksand';
    font-weight: bold;
    src: url('assets/fonts/Quicksand-Bold.ttf');
  }



:root {
    --accentColor: #72564B;
    --font: 'mini-wakuwaku-regular', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#card {
    max-width: 30rem;
    padding: 0 20px 15px;
    margin: 0 auto;
}

#cardMenu {
    display: none;
}

#bannerContainer {
    height: 200px;
    position: relative;
}

#banner {
    height: 100%;
    background-image: url('banner-new.png');
    background-size: cover;
    background-position: center 25%;
    clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
}

#likes {
    /* position: relative; */
    /* display: inline-block; */
    /* color: #4689f2; */
    color: #FD8676;
    will-change: contents;
}

.socialText {
    display: inline-block;
    padding-left: 2px;
}

#cardText {
    display: none;
}


#profilePicture, #profilePicture img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -73px;
    width: 130px;
    height: 130px;
    border: 4px solid white;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url("assets/img/pro-pic.png")
}

#header {
    text-align: center;
    margin-top: 60px;
    position: relative;
}

.headerJapanese1 {
    transform: translate(3px, 20px);
}

.headerJapanese2 {
    transform: translateX(-10px);
}

#stars {
    display: block;
    position: absolute;
    background-image: url('assets/img/stars.png');
    height: 145px;
    width: 127px;
    background-size: cover;
    top: 5rem;
    right: 0;
}

#circlething {
    display: block;
    position: fixed;
    background-image: url('assets/img/circlething.png');
    height: 180px;
    width: 150px;
    background-size: cover;
    left: 0;
    bottom: 0;
}

#moon {
    display: block;
    position: absolute;
    background-image: url('assets/img/moon.png');
    height: 100%;
    width: 100%;
    background-size: 43px;
    background-repeat: no-repeat;
    z-index: -99;
    top: 0;
    left: 50%;
}

#left1 {
    display: none;
}

#left2 {
    display: none;
}

#right1 {
    display: none;
}

#right2 {
    display: none;
}

#section {
    overflow-x: hidden;
}

#index {
    background-image: url('assets/img/catte.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

@media only screen and (min-width: 600px) {
    #linktree {
        background: url("https://static.tumblr.com/d40eae727a79de74c5b3c4cb5c8e9fd5/2icx37z/h42pam4gt/tumblr_static_9hudcw057yg4gss440so8cg0g.png");
    }

    #circlething {
        height: 220px;
        width: 169px;
    }

    #left1 {
        display: block;
        position: absolute;
        background-image: url('assets/img/left1.png');
        height: 20px;
        width: 20px;
        background-size: cover;
        top: -15px;
        left: 10px;
    }
    
    #left2 {
        display: block;
        position: absolute;
        background-image: url('assets/img/left2.png');
        height: 20px;
        width: 22px;
        bottom: 0;
        background-size: cover;
        top: 10px;
        left: 60px;
    }
    
    #right1 {
        display: block;
        position: absolute;
        background-image: url('assets/img/right1.png');
        height: 20px;
        width: 20px;
        background-size: cover;
        top: -15px;
        right: 10px;
    }
    
    #right2 {
        display: block;
        position: absolute;
        background-image: url('assets/img/right2.png');
        height: 22px;
        width: 22px;
        background-size: cover;
        top: 10px;
        right: 60px;
    }

    #banner, #bannerContainer {
        height: 400px;
    }

    #stars {
        top: 19rem;
    }

    #moon {
        height: 43px;
        width: 43px;
        background-size: contain;
        top: 7%;
        right: 41%;
    }

    #card {
        padding: 0 20px 40px;
        margin: 0 auto;
        border: 1px solid var(--accentColor);
        box-shadow: 10px 10px 0 rgb(220 220 220 / 50%);
        background: white;
        border-radius: 10px;
        padding: 0 20px 50px;
        margin: 15px auto;
        position: relative;
        transform: translateY(-150px);
    }

    #cardMenu {
        display: initial;
        width: 75px;
        position: absolute;
        height: 16px;
        margin-right: 15px;
        right: 0;
        border: 1px solid var(--accentColor);
        border-top: 0;
    }

    .rightButtons {
        width: 24px;
        float: left;
        font-family: 'Quicksand', sans-serif;
        height: 100%;
        text-align: center;
        color: #87B6D3;
        font-size: 11px;
        background-color: #ffffff;
    }

    #button1 {
        border-right: 1px solid var(--accentColor);
        line-height: 1.2;
    }

    #button2 {
        border-right: 1px solid var(--accentColor);
        line-height: 1.8;
        font-size: 9px;
    }

    #button3 {
        line-height: 1.5;
    }

    #cardBar {
        background: #e9f6fd;
        height: 25px;
        width: -webkit-fill-available;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        left: 0;
        margin: 0 auto;
        position: absolute;
    }

    #cardText {
        display: initial;
        left: 0;
        position: absolute;
        font-family: 'Consolas';
        font-size: 0.625rem;
        margin-left: 15px;
        margin-top: 7px;
        color: #87B6D3;
        letter-spacing: 0.1rem;
        text-transform: lowercase;
    }

    #profilePicture, #profilePicture img {
        top: 37%;
        z-index: 1;
    }

    #header {
        margin-top: 75px;
    }
}

.headerName {
    font-family: 'mini-wakuwaku-regular', sans-serif;
    text-align: center;
    font-size: 2rem;
    line-height: 1.25;
    color: #72564B;
    display: inline-block;
}

#headerLogo {
    background-image: url('assets/img/ayumi_logo.png');
    display: block;
    height: 115px;
    width: 180px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}


.headerText {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #8f7156;
}

.headerEmail {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25;
    padding-top: 20px;
    display: block;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
    text-underline-offset: 5px;
    color: #8f7156;
    transition: color 0.3s ease-in-out;
}

.headerEmail:hover {
    color: var(--accentColor);
}

.headerTextAccent {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.mb-5 {
    margin-bottom: 5px;
}

.dek {
    padding-top: 20px;
    max-width: 25rem;
    margin: 0 auto;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 30px 15px 0;
}

.linkContainer {
    position: relative;
    width: 100%;
    height: 51px;
    background-color: #F6EDE1;
    border-radius: 0.375rem;
    margin-bottom: 15px;
}

.link {
    font-family: var(--font);
    position: absolute;
    width: calc(100% - 22px);
    top: -5px;
    left: -20px;
    /* background-color: #F6EDE1; */
    color: var(--accentColor);
    border: solid var(--accentColor) 1px;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    text-align: center;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 15px; /* 17px */
    text-decoration: none;
    text-transform: lowercase;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    -webkit-tap-highlight-color: transparent;
    /* filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15)); */
}

.fab {
    margin-right: 2px;
}

.link::after {
    display: block;
    content: "";
    background-color: #F6EDE1;
    border-radius: 0.375rem;
}

.link:last-child {
    margin-bottom: 0;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: #ffffff;
    }
}

.link:active {
    background-color: var(--accentColor);
    color: #ffffff;
}

.disabled {
    border-color: #ececec;
    background-color: #ececec;
    color: #b5b5b5;
    cursor: not-allowed;
}

@media (hover: hover) {
    .disabled:hover {
        background-color: #ececec;
        color: #b5b5b5;
    }
}

#footer {
    position: relative;
    padding-bottom: 20px;
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    color: #87B6D3;
    font-weight: bold;
}